html, body { 
    font-family:Arial,Helvetica,sans-serif;
    font-size: small;
    height: 100%;
    width: 100%;
    overflow: auto;
}

body {  margin: 0;
        padding-left: 0;
}

#content { height: 100%;
           margin-left: 220px;
           overflow: auto;
}

#menu { position: absolute;
        left:2px;
        width: 205px;
        height: 100%;
        overflow: auto;
        padding-left:5px;
        padding-right:10px;        
        border-right: 2px solid #A9A9A9;
        background-color: #b0cff6;
}

#menu ul  {margin: 10px !important; }
#menu ul li {padding: 3px !important;}

table {
    width:96%;
    margin-left:10px;
    border: 0px;
}

th {
    font-weight: bold;
    vertical-align:bottom;
    color: blue;
}

a { color: blue; }

a:hover { color:red;text-decoration: underline; }

a.tocItem {
    color: #004A95;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 8pt;
    font-weight: bold;
    text-decoration: none;
    padding-top:.3em;
    padding-bottom:.3em;
    padding-left:.5em;
}


li {
    margin-right:-.5em;
    padding-left:.5em;
}



li.toc {
    margin-left:-1.5em;
    list-style:url(icon2.gif);

}


li.toc2 {
    margin-left:-.5em;
    list-style:url(icon2.gif);
}

li.tocb2_1 {
    margin-left:-.5em;
    list-style:url(icon3.gif);
}
li.tocb2_2 {
    margin-left:-.5em;
    list-style:url(icon3.gif);
}

li.toc3 {
    margin-left:.5em;
    list-style:url(icon2.gif);
}


li.tocParent {
    margin-left:-1.5em;
    list-style:url(icon1.gif);
    cursor: hand;
}

li.tocParent2 {
    margin-left:-.5em;
    list-style:url(icon3.gif);
    cursor: hand;
}

li.tocParentb2_1 {
    margin-left:-.5em;
    list-style:url(icon3.gif);
    cursor: hand;
}
li.tocParentb2_2 {
    margin-left:-.5em;
    list-style:url(icon3.gif);
    cursor: hand;
}
.newTab
{
    border-color: green;
    background-color: black;
    padding: 1px;
}
.newTab tr 
{
    background-color: white;
}

.newTab th
{
    background-color: #EDEDED;
    color: gray;
}

.mainheader th
{
    background-color:#b0cff6;
    color:#336600;
}

.subheader 
{
    color:#003366;

}

.subheader td
{
    background-color: #dadafc;
}
/*border='2' cellspacing='0' cellpadding='4' bgcolor="#fffdda"*/